@using SuperMan.Common;

<link rel="stylesheet" href="@Html.CssUrl("stepbar.css")" />

<!-- Page Content -->
<div class="container" id="container">
    <!-- step bar panel -->
    <div class="row">
        <div class="col-lg-12">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                    <span class="round-tab">
                                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                    <span class="round-tab">
                                        <i class="fa fa-filter" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                    <span class="round-tab">
                                        <i class="fa fa-gift" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                    <span class="round-tab">
                                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <h3>選擇任務地點</h3>
                                <p></p>
                                <!-- google map -->
                                <div id="map"></div>
                                <input type="hidden" id="missionlat" name="lat" value="">
                                <input type="hidden" id="missionlng" name="lng" value="">
                                <input type="hidden" id="missionAddress" name="addr" value="">
                                <input type="hidden" id="missionZipCode" name="zipCode" value="">
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-super next-step">Continue</button></li>
                                </ul>
                            </div>
                            <!--mission type-->
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <h3>選擇任務類型</h3>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-4 text-center" v-for="type in missionTypeList">
                                        <img class="image-mission image-halo" v-bind:src="'../Content/Image/'+type.Image" v-bind:mission_type="type.Index" />
                                        <p v-text="type.Title"></p>
                                    </div>
                                    @*<div class="col-lg-4 text-center">
                                        <img class="image-mission image-halo" src="@Html.ImageUrl("tag-house.svg")" mission_type="1001" />
                                        <p>居家 / 清潔</p>
                                    </div>
                                    *@
                                </div>
                                <ul class="list-inline pull-right"></ul>
                            </div>
                            <!--egg-->
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <h3>選擇贈送蛋蛋數</h3>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-4 text-center" v-for="star in [5,10,15,20,25]">
                                        <img class="image-egg image-halo" src="@Html.ImageUrl("egg2.png")" />
                                        <p>X {{star}}</p>
                                    </div>
                                    @*<div class="col-lg-4 text-center">
                                        <img class="image-egg image-halo" src="@Html.ImageUrl("egg2.png")" />
                                        <p>X 10</p>
                                    </div>>*@
                                    <div class="col-lg-4 text-center">
                                        <img class="image-egg image-halo" src="@Html.ImageUrl("egg2.png")" id="custom-egg" />
                                        <div class="form-group" style="padding-top:5px">
                                            <input id="custom-egg-val" class="has-error" type="text" name="eggcount" value="" placeholder="蛋蛋數" disabled="disabled" size="6px"
                                                   data-toggle="tooltip" data-placement="left" title="只可輸入5的倍數" />
                                            <button id="custom-egg-btn" type="button" class="btn btn-super btn-xs" style="display:none">Go</button>

                                        </div>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <h3>Complete</h3>
                                <p></p>
                                <div class="well well-lg" style="background-color: #FAFAFA; min-height:108px;">
                                    <div class="col-lg-5" id="t-position"><img class="image-mission-small" src="@Html.ImageUrl("Google_Maps_Icon.png")" /><strong v-text="address+'...'">台中市西屯區 附近</strong></div>
                                    <div class="col-lg-4" id="t-missionType"><img class="image-mission-small" src="@Html.ImageUrl("FamilyWork.png")" /><strong>居家清潔</strong></div>
                                    <div class="col-lg-3" id="t-egg"><img class="image-egg-small" src="@Html.ImageUrl("egg2.png")" /><strong>x 20</strongh></div>
                                </div>
                                <div class="row mission-create-form">
                                    <div class="form-group">
                                        <label for="inputMissionTitle">
                                            <h4><strong>任務主旨</strong></h4>
                                        </label>
                                        <input class="form-control" id="inputMissionTitle" placeholder="限50字 " v-model="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMissionDetail"><h4><strong>任務內容</strong></h4></label>
                                        <textarea class="form-control" rows="6" id="inputMissionDetail" placeholder="限500字" v-model="description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMissionContact"><h4><strong>聯絡方式</strong></h4></label>
                                        <textarea class="form-control" rows="3" id="inputMissionContact" placeholder="限100字" v-model="contact"> </textarea>
                                    </div>
                                    <hr>
                                    <!--prop-->
                                    <div class="form-group">
                                        <a class="btn btn-danger btn-sm" role="button" data-toggle="collapse" href="#collapseProps" aria-expanded="false" aria-controls="collapseProps">
                                            <span class="glyphicon glyphicon-plus"></span> 使用道具
                                        </a>
                                        <div class="well well-lg collapse" id="collapseProps">
                                            <div class="row propsList">
                                                @* 
                                                <div class="col-lg-6">
                                                    <img class="image-egg img-rounded pull-left" src="@Html.ImageUrl("tag-transport.svg")"/>
                                                    <h4><strong>超人內褲</strong> <span class="label label-danger"> x 30</span></h4>
                                                    <strong>使用後於任務列表高亮置頂  </strong><span class="label label-success">0.5H</span>
                                                    <a class="btn btn-default btn-circle btn-xl pull-right propsbtn disabled"><span class="glyphicon glyphicon-ok"></a>
                                                    <p>
                                                        <a class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> 購買 </a>
                                                    </p>
                                                </div>
                                                *@
                                                <div class="col-lg-6" v-for="(prop,index) in props" v-if="prop.ReadEffectType == 2">
                                                    <img class="image-egg img-rounded pull-left" v-bind:src="'../Content/Image/'+prop.Image">
                                                    <h4><strong v-text="prop.EffectName"></strong> <span class="label label-danger" v-text="' x '+prop.Cost"></span></h4>
                                                    <strong>{{prop.EffectDescription}}  </strong><span class="label label-success" v-text="(prop.EffectMinute/60)+'H'"></span>
                                                    <a class="btn btn-default btn-circle btn-xl pull-right propsbtn" v-on:click="chgPropID(prop.EffectId,$event)">
                                                        <span v-bind:class="{ 'glyphicon': true, 'glyphicon-ok': (propIDs.indexOf(prop.EffectId)>-1), 'glyphicon-remove': (propIDs.indexOf(prop.EffectId)==-1) }"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="button" class="btn btn-super btn-block" v-on:click="create">建立</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- /.container -->
<script src="@Html.ScriptUrl("googlemap.js")"></script>
<script src="@Html.ScriptUrl("CreateMission.js")"></script>

<script>
    google.maps.event.addDomListener(window, 'load', showUserClickPanel);

    $(function () {
        //$('[data-toggle="tooltip "]').tooltip()
    })
</script>