@using SuperMan.Common;

<link rel="stylesheet" href="@Html.CssUrl("custom.css")" />

<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <div id="search-type" class="well">
                <img src="@Html.ImageUrl("tag-house.svg")" data-type="1001"/>
                <img src="@Html.ImageUrl("tag-maintain.svg")" data-type="1002"/>
                <img src="@Html.ImageUrl("tag-service.svg")"  data-type="1003"/>
                <img src="@Html.ImageUrl("tag-together.svg")"  data-type="1004"/>
                <img src="@Html.ImageUrl("tag-transport.svg")"  data-type="1005"/>
            </div>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-12">
            <div id="mission-content">
                <div id="show-mission" style="display:none"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>

                <div id="mission-info" style="display: none" class="panel panel-default">
                    <div class="hide-mission"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
                    <div class="panel-body">
                        <h4 id="mission-title"></h4>
                        <div class="well">
                            <img class="img-circle-normal" src="@Html.ImageUrl("user-shape.svg")" />
                            <span id="user-name"></span>
                            <hr />
                            <div id="mission-detail"></div>
                        </div>
                        <div id="missoin-reward" class="well">
                            <img class="img-circle" src="@Html.ImageUrl("egg2.png")" />
                            <strong>x<span></span></strong>
                        </div>
                        <div id="mission-accept" class="well"></div>
                    </div>
                </div>

                <div id="map"></div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<script src="@Html.ScriptUrl("SearchMission.js")"></script>

<script>
    google.maps.event.addDomListener(window, 'load', showPosition);
</script>
